.header {
	padding: 10px;
	text-align: baseline;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
	font-family: sans-serif;
	font-size: 10px;
	font-weight: 10;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	width: 100%;
	bottom: 0;
	left: 0;
	display: inline-block;
	vertical-align: auto;
	padding: 10px;
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);
	background: linear-gradient(to right, #f5af19, #f12711);
}