.cd-faq__items {
	padding: 30px;
}
.titulo {
	font-family: 'Alfa Slab One', cursive;
	color: #ffffff;
	font-size: 25px;
	font-weight: 40;
	text-align: left;
	background: #2b9521;
	margin: 10 0 20 20px;
	overflow: hidden;
	padding: 20px;
	border-radius: 15px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 10px solid #1aa0a7;
}